@use 'base/variables' as *;
@use 'base/typography' as *;
@use 'base/mixins' as *;
@use 'base/helper' as *;
@use 'base/base' as *;
@use 'base/functions' as *;

@use 'components/page-components' as *;
@use 'components/dataTabes';

* {
	box-sizing: border-box;
}

%icon {
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
}

%icon-form-field {
	background-position: 0.75em center;
	background-repeat: no-repeat;
	background-size: 1.5em;
	padding-inline-start: 3rem;
}

:root {
	--font-size: 15px;
	--main-pad-x: 2rem;
	--main-pad-y: 1rem;
	--main-border-radius: 0.5em;
	--font-family: 'Inter', sans-serif;
	--background-color: #{$grey-10};
	--font-color: #141414;
	--card-background: #fff;
	--c-lvl-1: #f4f4f4;
	--c-lvl-2: #ebebeb;
	--c-lvl-3: #dbdbdb;
	--font-light: #aaaaaa;

	--accent-dark: #{darken($primary-color, $amount: 10)};
	--accent-color: #{$primary-color};
	--accent-light: #{lighten($primary-color, $amount: 65)};
	--accent-mid: #{lighten($primary-color, $amount: 60)};

	--success-color: #{$success};
	--success-bg: #{$success-bg};
	--success-bg-dark: #{lighten($success, $amount: 60)};
	--success-stroke: #{$success-stroke};

	--error-color: #{$error};
	--error-bg: #{$error-bg};
	--error-bg-dark: #{lighten($error, $amount: 50)};

	--error-stroke: #{$error-stroke};

	--important: #ff6600;

	--top-bar-height: 4rem;
	--sidebar-width: 15rem;
	--sidebar-color: #{$white};
	--sidebar-border-color: #f1f1f1;
	--sidebar-padding-x: 1rem;
	--section-bar-width: 20rem;
	--table-border: var(--c-lvl-2);
	--active-color: #{$success};
	--active-hover: #{$success-stroke};
	--active-dark: #{$success-hover};
	font-size: var(--font-size);
}
[data-color-mode='dark'] {
	--background-color: #141414;
	--font-color: #eeeeee;
	--card-background: #2e2e2e;
	--c-lvl-1: #383838;
	--c-lvl-2: #ffffff;
	--c-lvl-3: #141414;

	--accent-dark: #{darken($primary-color, $amount: 10)};
	--accent-color: #{$primary-color};
	--accent-light: #{lighten($primary-color, $amount: 65)};
	--accent-mid: #{lighten($primary-color, $amount: 60)};

	--success-color: #{$success};
	--success-bg: #{$success-bg};
	--success-bg-dark: #{lighten($success, $amount: 60)};
	--success-stroke: #{$success-stroke};

	--error-color: #{$error};
	--error-bg: #{$error-bg};
	--error-bg-dark: #{lighten($error, $amount: 50)};

	--error-stroke: #{$error-stroke};
	--sidebar-border-color: #f1f1f1;

	--important: #ff6600;
	--table-border: var(--c-lvl-2);
	--active-color: #{$success};
	--active-hover: #{$success-stroke};
	--active-dark: #{$success-hover};
}

img {
	max-width: 100%;
}

body {
	font-family: var(--font-family);
	color: var(--font-color);
	background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block: 0 0.5em;
}

h2 {
	font-size: fontSize(18);
	font-weight: 600;
	color: var(--font-color);
}
h1 {
	font-size: fontSize(24);
	font-weight: 600;
	color: var(--font-color);
}

.admin__header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: var(--top-bar-height);
	background-color: var(--card-background);
	border-bottom: 1px solid var(--table-border);
	z-index: 998;
}
.admin__nav {
	height: inherit;
	&--content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding-inline: var(--main-pad-x);
	}
	&--rt--wrapper {
		display: flex;
		gap: 0.5em;
	}
}

.rt-content-mar {
	margin-left: var(--sidebar-width);
}

.main__aside {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: var(--sidebar-width);
	z-index: 999;
	background-color: var(--sidebar-color);
	border-right: 1px solid var(--sidebar-border-color);
	overflow: hidden;
	&--item {
		&.active {
			.sub__link {
				--font-color: var(--accent-color);
				background-color: var(--accent-light);
			}
		}
	}
	&--logo {
		padding: 0 var(--sidebar-padding-x);
		height: var(--top-bar-height);
		width: 80%;
		margin-inline: auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&--sub {
		&--list {
			margin-block: 0.1rem;
			display: flex;
			align-items: stretch;
			flex-direction: column;
			background-color: var(--accent-light);
			border-radius: var(--main-border-radius);
			overflow: hidden;
			padding-block: 0.25em;
			visibility: hidden;
			opacity: 0;
			height: 0;
			padding: 0;
			transition: 0.2s ease-out;
		}
		&--item {
			&.active {
				.main__aside--sub--link {
					color: var(--accent-color);
					font-weight: 450;
				}
			}
			&.inner {
				padding-inline-start: 0.25em;
				.main__aside--sub--link {
					&:before {
						content: '\e5da';
						@extend %icon;
					}
				}
			}
		}
		&--link {
			display: block;
			width: 100%;
			padding: 0.35em 0.5em;
			font-size: fontSize(14);
			padding-inline: var(--sidebar-padding-x);

			&:hover {
				background-color: rgba(0 0 0 / 3%);
			}
		}
	}
	&--item {
		&.active {
			.main__aside--sub--list {
				visibility: visible;
				opacity: 1;
				height: auto;
				padding-block: 0.25em;
				transition: 0.2s ease-out;
			}
		}
	}
	&--list {
		margin-block: 2rem;
		padding-inline: var(--sidebar-padding-x);
		display: flex;
		align-items: stretch;
		flex-direction: column;
		gap: 0.5em;
	}
	&--footer {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		padding: 1rem var(--sidebar-padding-x);
		transform: translateX(-50%);
	}
	&--link {
		padding: 0.65em 1.5em;
		display: flex;
		width: 100%;
		outline: none !important;
		border: none !important;
		gap: 0.5em;
		align-items: center;
		background-color: transparent;
		border-radius: var(--main-border-radius);
		font-size: 1rem;

		&.active {
			--font-color: var(--accent-color);
			background-color: var(--accent-light);
		}

		&:hover {
			--font-color: var(--accent-color);
			background-color: var(--accent-light);
		}
	}
	&--icon {
		height: 100%;
		vertical-align: middle;
		color: var(--font-color);
		transition: 0.2s ease-in-out;

		.material-symbols-rounded {
			line-height: inherit;
			font-size: 1.25em;
		}
	}
	&--label {
		// text-transform: uppercase;
		font-weight: 400;
		color: var(--font-color);
		transition: 0.2s ease-in-out;
		font-size: 0.9em;
	}
}

.bread-crumbs {
	display: flex;
	align-items: center;
	gap: 0.5em;

	.bread-crumb-item {
		display: flex;
		gap: 0.5em;
		align-items: center;
		letter-spacing: 0.03em;
		font-size: 0.9em;
		font-weight: 500;
		text-transform: uppercase;

		&:not(:last-child) {
			&:after {
				content: '\e5cc';
				@extend %icon;
			}
		}
	}
	.bread-crumb-link {
		color: var(--accent-color);
	}
}
.icon--button {
	border: none !important;
	border-radius: var(--main-border-radius);
	padding: 0.65em 1em;
	display: flex;
	align-items: Center;
	gap: 0.5em;
	transition: 0.2s ease-out;
	cursor: pointer;
	background-color: var(--c-lvl-1);
	&:hover {
		background-color: var(--c-lvl-2);
	}
	.btn-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		.material-symbols-rounded {
			font-size: 1.35em;
		}
	}
}
.btn {
	font-family: 'Inter', sans-serif;
	&--primary {
		background: none;
		background-color: var(--accent-color);
		border-radius: var(--main-border-radius);
		transition: 0.2s ease-out;
		&:hover {
			background-color: var(--accent-dark);
			transition: 0.2s ease-out;
		}
		&.success {
			color: white;
			background-color: var(--success-color);
			&:hover {
				background-color: var(--success-color);
				transition: 0.2s ease-out;
			}
		}
		&.error {
			color: white;
			background-color: var(--error-color);
			&:hover {
				background-color: var(--error-color);
				transition: 0.2s ease-out;
			}
		}
	}
	&--error {
		background: none;
		background-color: var(--error-bg);
		border-radius: var(--main-border-radius);
		color: var(--error-color);

		transition: 0.2s ease-out;
		&:hover {
			background-color: var(--error-bg-dark);
			transition: 0.2s ease-out;
		}
	}
}

.user--wrapper {
	background-color: var(--accent-light);
	color: var(--accent-color);
	&:hover {
		background-color: var(--accent-mid);
		transition: 0.2s ease-out;
	}
}

.user--label {
	font-weight: 500;
	font-size: 1em;
	font-family: 'Inter', sans-serif;
}

section {
	padding-inline: calc(var(--main-pad-x) * 2);
	padding-block: var(--main-pad-y);
}
.inner-content {
	padding-block-end: 20rem;
}

.section {
	&__select {
		&--button {
			background: transparent;
			border: none !important;
			outline: none !important;
			display: flex;
			align-items: center;
			gap: 1em;
			background-color: var(--c-lvl-1);
			padding: 0.5em 1em;
			border-radius: var(--main-border-radius);
			&-icon {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&__wrapper {
		position: absolute;
		left: 0;
		top: 100%;
		width: var(--section-bar-width);
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
	}
	&__list {
		display: flex;
		flex-direction: column;
		position: absolute;
	}
	&__link {
		background-color: var(--card-background);
		padding: 0.5em 1em;
		display: flex;
		align-items: center;
		box-shadow: 0 0 0 0 transparent;
		&--label {
			text-transform: none;
		}
		&--icon {
			.material-symbols-rounded {
				font-size: 1em;
			}
		}
		&:hover {
			color: var(--accent-color);
			background-color: var(--accent-light);
			transition: 0.2s ease-out;
		}
	}
	&__selection {
		position: relative;

		&.active {
			.section__wrapper {
				visibility: visible;
				opacity: 1;
				pointer-events: auto;
				transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
			}
		}
	}
}

.save-card {
	background-color: var(--card-background);
	border-radius: var(--main-border-radius);
	padding: 1.5em 2em 2em;
	position: fixed;
	top: calc(var(--top-bar-height) + 2rem);
	right: 2rem;
}

main {
	// width: calc(100% - var(--sidebar-width) - var(--section-bar-width) - (var(--main-pad-x) * 4));
	overflow-y: hidden;
	margin-top: calc(var(--top-bar-height));
	margin-left: calc(var(--sidebar-width));
}

input {
	padding: 0.5em 1em;
	font-size: 1rem;
	border: none;
	outline: none !important;
	border-radius: calc(var(--main-border-radius));
}
select {
	border: none;
	outline: none !important;
	border-radius: calc(var(--main-border-radius));
	padding: 0.25em 0.25em;
}

table.dataTable {
	width: 100%;
	background-color: var(--card-background);
	&.no-footer {
		border-bottom: 1px solid var(--table-border);
	}
	thead {
		th {
			font-weight: 500;
			border-bottom: 1px solid var(--table-border);
		}
	}

	th,
	td {
		padding: 0.5em 1em;
		max-width: 300px;
		font-size: 0.9rem;
		vertical-align: top;
		p {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			margin-bottom: 0;
		}
		img {
			max-width: 200px;
			max-height: 40px;
			object-fit: cover;
		}
	}
	td {
		padding: 0.75em 1em;
	}
	tbody {
		tr:not(:last-child) {
			td {
				border-bottom: 1px solid var(--table-border);
			}
		}
	}
}

.dataTables {
	&_wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&_length,
	&_filter {
		width: 47%;
	}
	&_length {
		align-items: flex-end;
		display: flex;
	}
	&_filter {
		label {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 0.25em;
		}
		input {
			width: 60%;
		}
	}
	&_paginate {
		align-self: flex-end;
	}
}
.check--wrapper {
	display: flex;
	align-items: center;
	gap: 0.5em;
	height: 100%;
}
.check-switch {
	appearance: none;
	height: 1.25rem;
	width: 2.25rem;
	border-radius: 100vmax;
	position: relative;
	background-color: var(--c-lvl-2);
	transition: background-color 0.2s ease;
	&.large {
		height: 2rem;
		width: 4rem;
	}
	&:hover {
		background-color: var(--accent-mid);

		&::before {
			color: #fff;
		}
	}
}

.check-switch::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	aspect-ratio: 1;
	height: 60%;
	background-color: #fff;
	border-radius: 50%;
	top: 50%;
	transform: translate(30%, -50%);
	z-index: 9;
	will-change: transform;
	transition: all 0.2s ease;
}

.check-switch::before {
	display: block;
	position: absolute;
	content: '';
	right: 0;
	color: red;
	top: 50%;
	transform: translateY(-50%);
}

.check-switch:checked {
	background-color: #004f8b;

	&:hover {
		background-color: #009ee3;
	}

	&::after {
		left: 100%;
		transform: translate(-130%, -50%);
		z-index: 9;
		will-change: transform;
		transition: all 0.2s ease;
	}
}
.activity {
	.check-switch {
		background-color: var(--c-lvl-3);

		&:hover {
			background-color: var(--active-hover);
		}
	}
	.check-switch:checked {
		background-color: var(--active-color);
		&:hover {
			background-color: var(--active-dark);
		}
	}
}

.small-btn {
	font-size: 0.9rem;
}

.content {
	&__card {
		padding: calc(var(--main-pad-y) * 3) var(--main-pad-x);
		background-color: var(--card-background);
		border-radius: var(--main-border-radius);
		flex-wrap: wrap;
		// column-gap: 1em;
		align-items: flex-start;
		margin-bottom: var(--main-pad-y);
		row-gap: 1em;
		.col-6 {
			max-width: 50%;
		}
	}
}
.form-col {
	width: 450px;
}
.form-col.mini {
	width: 250px;
}
.form-col.large {
	width: 600px;
}
.form-col.full {
	width: 948px;
}
.form-group {
	position: relative;
	margin-block: 0;
	width: 100%;
	padding-inline: 1em;
	label {
		margin-bottom: 0.25em;
		font-weight: 500;
		color: var(--font-color);
		font-size: smaller;
	}

	&.required {
		label {
			&:not(.check--label) {
				&:after {
					content: ' *';
					color: var(--important);
					font-size: larger;
				}
			}
			&.check--wrapper {
				&:after {
					content: unset;
				}
			}
		}
	}
	.form-control {
		padding-block: 0.5em;
		border-color: var(--table-border);
		height: auto;
		font-size: 1rem;
		width: 100%;
		background-color: transparent;

		&[type='email'] {
			@extend %icon-form-field;
			transition: 0.2s ease-out;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 -960 960 960' width='48' fill='%23aaa'%3E%3Cpath d='M480-67q-85.94 0-161.144-32.347-75.204-32.348-131.183-88.326-55.978-55.979-88.326-131.183Q67-394.06 67-480q0-85.826 32.348-161.087t88.326-131.24q55.979-55.978 131.183-88.326Q394.06-893.001 480-893.001q85.826 0 161.087 32.348t131.24 88.326q55.978 55.979 88.326 131.24 32.348 75.261 32.348 161.32V-427q0 61.087-41.761 100.152-41.761 39.066-103.849 39.066-38.203 0-71.08-18.348-32.876-18.348-49.311-50.913-24.87 35.695-63.587 52.478T480-287.782q-80.453 0-136.835-55.677-56.383-55.677-56.383-136.805 0-80.562 56.343-137.258 56.342-56.696 136.739-56.696 80.962 0 137.158 56.413Q673.218-561.391 673.218-480v49.006q0 29.85 21.652 50.313t52.521 20.463q29.87 0 51.239-20.463Q820-401.144 820-430.994V-480q0-142.565-98.717-241.283Q622.565-820 479.717-820 338-820 239-721t-99 241q0 142.565 98.717 241.283Q337.435-140 480-140h177.782q15.431 0 25.824 10.473Q694-119.053 694-103.505q0 15.549-10.394 26.027-10.393 10.479-25.824 10.479H480Zm.133-293.218q50.041 0 85.345-34.821 35.304-34.82 35.304-84.695 0-50.875-35.437-86.461-35.437-35.587-85.478-35.587t-85.345 35.587q-35.304 35.586-35.304 86.461 0 49.875 35.437 84.695 35.437 34.821 85.478 34.821Z'/%3E%3C/svg%3E");
			&:focus {
				transition: 0.2s ease-out;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 -960 960 960' width='48' fill='%23005ca6'%3E%3Cpath d='M480-67q-85.94 0-161.144-32.347-75.204-32.348-131.183-88.326-55.978-55.979-88.326-131.183Q67-394.06 67-480q0-85.826 32.348-161.087t88.326-131.24q55.979-55.978 131.183-88.326Q394.06-893.001 480-893.001q85.826 0 161.087 32.348t131.24 88.326q55.978 55.979 88.326 131.24 32.348 75.261 32.348 161.32V-427q0 61.087-41.761 100.152-41.761 39.066-103.849 39.066-38.203 0-71.08-18.348-32.876-18.348-49.311-50.913-24.87 35.695-63.587 52.478T480-287.782q-80.453 0-136.835-55.677-56.383-55.677-56.383-136.805 0-80.562 56.343-137.258 56.342-56.696 136.739-56.696 80.962 0 137.158 56.413Q673.218-561.391 673.218-480v49.006q0 29.85 21.652 50.313t52.521 20.463q29.87 0 51.239-20.463Q820-401.144 820-430.994V-480q0-142.565-98.717-241.283Q622.565-820 479.717-820 338-820 239-721t-99 241q0 142.565 98.717 241.283Q337.435-140 480-140h177.782q15.431 0 25.824 10.473Q694-119.053 694-103.505q0 15.549-10.394 26.027-10.393 10.479-25.824 10.479H480Zm.133-293.218q50.041 0 85.345-34.821 35.304-34.82 35.304-84.695 0-50.875-35.437-86.461-35.437-35.587-85.478-35.587t-85.345 35.587q-35.304 35.586-35.304 86.461 0 49.875 35.437 84.695 35.437 34.821 85.478 34.821Z'/%3E%3C/svg%3E");
			}
		}

		&.social {
			&--facebook {
				@extend %icon-form-field;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23aaa'%3E%3Cpath d='M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z'/%3E%3C/svg%3E");
				transition: 0.2s ease-out;

				&:focus {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23005ca6'%3E%3Cpath d='M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z'/%3E%3C/svg%3E");
					transition: 0.2s ease-out;
				}
			}
			&--instagram {
				@extend %icon-form-field;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='132.004' height='132'%3E%3Cdefs%3E%3ClinearGradient id='b'%3E%3Cstop offset='0' stop-color='%23aaa'/%3E%3Cstop stop-color='%23aaa' offset='.128'/%3E%3Cstop offset='1' stop-color='%23aaa' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='a'%3E%3Cstop offset='0' stop-color='%23aaa'/%3E%3Cstop offset='.1' stop-color='%23aaa'/%3E%3Cstop offset='.5' stop-color='%23aaa'/%3E%3Cstop offset='1' stop-color='%23aaa'/%3E%3C/linearGradient%3E%3CradialGradient id='c' cx='158.429' cy='578.088' r='65' xlink:href='%23a' gradientUnits='userSpaceOnUse' gradientTransform='matrix(0 -1.98198 1.8439 0 -1031.402 454.004)' fx='158.429' fy='578.088'/%3E%3CradialGradient id='d' cx='147.694' cy='473.455' r='65' xlink:href='%23b' gradientUnits='userSpaceOnUse' gradientTransform='matrix(.17394 .86872 -3.5818 .71718 1648.348 -458.493)' fx='147.694' fy='473.455'/%3E%3C/defs%3E%3Cpath fill='url(%23c)' d='M65.03 0C37.888 0 29.95.028 28.407.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468C4 13.126 1.5 18.394.595 24.656c-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28 7.79-2.01 14.24-7.29 17.75-14.53 1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624C116.9 4 111.64 1.5 105.372.596 102.335.157 101.73.027 86.19 0H65.03z' transform='translate(1.004 1)'/%3E%3Cpath fill='url(%23d)' d='M65.03 0C37.888 0 29.95.028 28.407.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468C4 13.126 1.5 18.394.595 24.656c-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28 7.79-2.01 14.24-7.29 17.75-14.53 1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624C116.9 4 111.64 1.5 105.372.596 102.335.157 101.73.027 86.19 0H65.03z' transform='translate(1.004 1)'/%3E%3Cpath fill='%23fff' d='M66.004 18c-13.036 0-14.672.057-19.792.29-5.11.234-8.598 1.043-11.65 2.23-3.157 1.226-5.835 2.866-8.503 5.535-2.67 2.668-4.31 5.346-5.54 8.502-1.19 3.053-2 6.542-2.23 11.65C18.06 51.327 18 52.964 18 66s.058 14.667.29 19.787c.235 5.11 1.044 8.598 2.23 11.65 1.227 3.157 2.867 5.835 5.536 8.503 2.667 2.67 5.345 4.314 8.5 5.54 3.054 1.187 6.543 1.996 11.652 2.23 5.12.233 6.755.29 19.79.29 13.037 0 14.668-.057 19.788-.29 5.11-.234 8.602-1.043 11.656-2.23 3.156-1.226 5.83-2.87 8.497-5.54 2.67-2.668 4.31-5.346 5.54-8.502 1.18-3.053 1.99-6.542 2.23-11.65.23-5.12.29-6.752.29-19.788 0-13.036-.06-14.672-.29-19.792-.24-5.11-1.05-8.598-2.23-11.65-1.23-3.157-2.87-5.835-5.54-8.503-2.67-2.67-5.34-4.31-8.5-5.535-3.06-1.187-6.55-1.996-11.66-2.23-5.12-.233-6.75-.29-19.79-.29zm-4.306 8.65c1.278-.002 2.704 0 4.306 0 12.816 0 14.335.046 19.396.276 4.68.214 7.22.996 8.912 1.653 2.24.87 3.837 1.91 5.516 3.59 1.68 1.68 2.72 3.28 3.592 5.52.657 1.69 1.44 4.23 1.653 8.91.23 5.06.28 6.58.28 19.39s-.05 14.33-.28 19.39c-.214 4.68-.996 7.22-1.653 8.91-.87 2.24-1.912 3.835-3.592 5.514-1.68 1.68-3.275 2.72-5.516 3.59-1.69.66-4.232 1.44-8.912 1.654-5.06.23-6.58.28-19.396.28-12.817 0-14.336-.05-19.396-.28-4.68-.216-7.22-.998-8.913-1.655-2.24-.87-3.84-1.91-5.52-3.59-1.68-1.68-2.72-3.276-3.592-5.517-.657-1.69-1.44-4.23-1.653-8.91-.23-5.06-.276-6.58-.276-19.398s.046-14.33.276-19.39c.214-4.68.996-7.22 1.653-8.912.87-2.24 1.912-3.84 3.592-5.52 1.68-1.68 3.28-2.72 5.52-3.592 1.692-.66 4.233-1.44 8.913-1.655 4.428-.2 6.144-.26 15.09-.27zm29.928 7.97c-3.18 0-5.76 2.577-5.76 5.758 0 3.18 2.58 5.76 5.76 5.76 3.18 0 5.76-2.58 5.76-5.76 0-3.18-2.58-5.76-5.76-5.76zm-25.622 6.73c-13.613 0-24.65 11.037-24.65 24.65 0 13.613 11.037 24.645 24.65 24.645C79.617 90.645 90.65 79.613 90.65 66S79.616 41.35 66.003 41.35zm0 8.65c8.836 0 16 7.163 16 16 0 8.836-7.164 16-16 16-8.837 0-16-7.164-16-16 0-8.837 7.163-16 16-16z'/%3E%3C/svg%3E");
				transition: 0.2s ease-out;
				&:focus {
					transition: 0.2s ease-out;

					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='132.004' height='132'%3E%3Cdefs%3E%3ClinearGradient id='b'%3E%3Cstop offset='0' stop-color='%233771c8'/%3E%3Cstop stop-color='%233771c8' offset='.128'/%3E%3Cstop offset='1' stop-color='%2360f' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='a'%3E%3Cstop offset='0' stop-color='%23fd5'/%3E%3Cstop offset='.1' stop-color='%23fd5'/%3E%3Cstop offset='.5' stop-color='%23ff543e'/%3E%3Cstop offset='1' stop-color='%23c837ab'/%3E%3C/linearGradient%3E%3CradialGradient id='c' cx='158.429' cy='578.088' r='65' xlink:href='%23a' gradientUnits='userSpaceOnUse' gradientTransform='matrix(0 -1.98198 1.8439 0 -1031.402 454.004)' fx='158.429' fy='578.088'/%3E%3CradialGradient id='d' cx='147.694' cy='473.455' r='65' xlink:href='%23b' gradientUnits='userSpaceOnUse' gradientTransform='matrix(.17394 .86872 -3.5818 .71718 1648.348 -458.493)' fx='147.694' fy='473.455'/%3E%3C/defs%3E%3Cpath fill='url(%23c)' d='M65.03 0C37.888 0 29.95.028 28.407.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468C4 13.126 1.5 18.394.595 24.656c-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28 7.79-2.01 14.24-7.29 17.75-14.53 1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624C116.9 4 111.64 1.5 105.372.596 102.335.157 101.73.027 86.19 0H65.03z' transform='translate(1.004 1)'/%3E%3Cpath fill='url(%23d)' d='M65.03 0C37.888 0 29.95.028 28.407.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468C4 13.126 1.5 18.394.595 24.656c-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28 7.79-2.01 14.24-7.29 17.75-14.53 1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624C116.9 4 111.64 1.5 105.372.596 102.335.157 101.73.027 86.19 0H65.03z' transform='translate(1.004 1)'/%3E%3Cpath fill='%23fff' d='M66.004 18c-13.036 0-14.672.057-19.792.29-5.11.234-8.598 1.043-11.65 2.23-3.157 1.226-5.835 2.866-8.503 5.535-2.67 2.668-4.31 5.346-5.54 8.502-1.19 3.053-2 6.542-2.23 11.65C18.06 51.327 18 52.964 18 66s.058 14.667.29 19.787c.235 5.11 1.044 8.598 2.23 11.65 1.227 3.157 2.867 5.835 5.536 8.503 2.667 2.67 5.345 4.314 8.5 5.54 3.054 1.187 6.543 1.996 11.652 2.23 5.12.233 6.755.29 19.79.29 13.037 0 14.668-.057 19.788-.29 5.11-.234 8.602-1.043 11.656-2.23 3.156-1.226 5.83-2.87 8.497-5.54 2.67-2.668 4.31-5.346 5.54-8.502 1.18-3.053 1.99-6.542 2.23-11.65.23-5.12.29-6.752.29-19.788 0-13.036-.06-14.672-.29-19.792-.24-5.11-1.05-8.598-2.23-11.65-1.23-3.157-2.87-5.835-5.54-8.503-2.67-2.67-5.34-4.31-8.5-5.535-3.06-1.187-6.55-1.996-11.66-2.23-5.12-.233-6.75-.29-19.79-.29zm-4.306 8.65c1.278-.002 2.704 0 4.306 0 12.816 0 14.335.046 19.396.276 4.68.214 7.22.996 8.912 1.653 2.24.87 3.837 1.91 5.516 3.59 1.68 1.68 2.72 3.28 3.592 5.52.657 1.69 1.44 4.23 1.653 8.91.23 5.06.28 6.58.28 19.39s-.05 14.33-.28 19.39c-.214 4.68-.996 7.22-1.653 8.91-.87 2.24-1.912 3.835-3.592 5.514-1.68 1.68-3.275 2.72-5.516 3.59-1.69.66-4.232 1.44-8.912 1.654-5.06.23-6.58.28-19.396.28-12.817 0-14.336-.05-19.396-.28-4.68-.216-7.22-.998-8.913-1.655-2.24-.87-3.84-1.91-5.52-3.59-1.68-1.68-2.72-3.276-3.592-5.517-.657-1.69-1.44-4.23-1.653-8.91-.23-5.06-.276-6.58-.276-19.398s.046-14.33.276-19.39c.214-4.68.996-7.22 1.653-8.912.87-2.24 1.912-3.84 3.592-5.52 1.68-1.68 3.28-2.72 5.52-3.592 1.692-.66 4.233-1.44 8.913-1.655 4.428-.2 6.144-.26 15.09-.27zm29.928 7.97c-3.18 0-5.76 2.577-5.76 5.758 0 3.18 2.58 5.76 5.76 5.76 3.18 0 5.76-2.58 5.76-5.76 0-3.18-2.58-5.76-5.76-5.76zm-25.622 6.73c-13.613 0-24.65 11.037-24.65 24.65 0 13.613 11.037 24.645 24.65 24.645C79.617 90.645 90.65 79.613 90.65 66S79.616 41.35 66.003 41.35zm0 8.65c8.836 0 16 7.163 16 16 0 8.836-7.164 16-16 16-8.837 0-16-7.164-16-16 0-8.837 7.163-16 16-16z'/%3E%3C/svg%3E");
				}
			}
			&--youtube {
				@extend %icon-form-field;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='159' height='110'%3E%3Cpath d='m154 17.5c-1.82-6.73-7.07-12-13.8-13.8-9.04-3.49-96.6-5.2-122 0.1-6.73 1.82-12 7.07-13.8 13.8-4.08 17.9-4.39 56.6 0.1 74.9 1.82 6.73 7.07 12 13.8 13.8 17.9 4.12 103 4.7 122 0 6.73-1.82 12-7.07 13.8-13.8 4.35-19.5 4.66-55.8-0.1-75z' fill='%23aaa'/%3E%3Cpath d='m105 55-40.8-23.4v46.8z' fill='%23fff'/%3E%3C/svg%3E");
				transition: 0.2s ease-out;

				&:focus {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='159' height='110'%3E%3Cpath d='m154 17.5c-1.82-6.73-7.07-12-13.8-13.8-9.04-3.49-96.6-5.2-122 0.1-6.73 1.82-12 7.07-13.8 13.8-4.08 17.9-4.39 56.6 0.1 74.9 1.82 6.73 7.07 12 13.8 13.8 17.9 4.12 103 4.7 122 0 6.73-1.82 12-7.07 13.8-13.8 4.35-19.5 4.66-55.8-0.1-75z' fill='%23f00'/%3E%3Cpath d='m105 55-40.8-23.4v46.8z' fill='%23fff'/%3E%3C/svg%3E");
					transition: 0.2s ease-out;
				}
			}
			&--twitter {
				@extend %icon-form-field;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 248 204'%3E%3Cpath fill='%23aaa' d='M221.95 51.29c.15 2.17.15 4.34.15 6.53 0 66.73-50.8 143.69-143.69 143.69v-.04c-27.44.04-54.31-7.82-77.41-22.64 3.99.48 8 .72 12.02.73 22.74.02 44.83-7.61 62.72-21.66-21.61-.41-40.56-14.5-47.18-35.07 7.57 1.46 15.37 1.16 22.8-.87-23.56-4.76-40.51-25.46-40.51-49.5v-.64c7.02 3.91 14.88 6.08 22.92 6.32C11.58 63.31 4.74 33.79 18.14 10.71c25.64 31.55 63.47 50.73 104.08 52.76-4.07-17.54 1.49-35.92 14.61-48.25 20.34-19.12 52.33-18.14 71.45 2.19 11.31-2.23 22.15-6.38 32.07-12.26-3.77 11.69-11.66 21.62-22.2 27.93 10.01-1.18 19.79-3.86 29-7.95-6.78 10.16-15.32 19.01-25.2 26.16z'/%3E%3C/svg%3E");
				transition: 0.2s ease-out;

				&:focus {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 248 204'%3E%3Cpath fill='%231d9bf0' d='M221.95 51.29c.15 2.17.15 4.34.15 6.53 0 66.73-50.8 143.69-143.69 143.69v-.04c-27.44.04-54.31-7.82-77.41-22.64 3.99.48 8 .72 12.02.73 22.74.02 44.83-7.61 62.72-21.66-21.61-.41-40.56-14.5-47.18-35.07 7.57 1.46 15.37 1.16 22.8-.87-23.56-4.76-40.51-25.46-40.51-49.5v-.64c7.02 3.91 14.88 6.08 22.92 6.32C11.58 63.31 4.74 33.79 18.14 10.71c25.64 31.55 63.47 50.73 104.08 52.76-4.07-17.54 1.49-35.92 14.61-48.25 20.34-19.12 52.33-18.14 71.45 2.19 11.31-2.23 22.15-6.38 32.07-12.26-3.77 11.69-11.66 21.62-22.2 27.93 10.01-1.18 19.79-3.86 29-7.95-6.78 10.16-15.32 19.01-25.2 26.16z'/%3E%3C/svg%3E");
					transition: 0.2s ease-out;
				}
			}
			&--tiktok {
				@extend %icon-form-field;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)'%3E%3Cpath d='M 36.203 35.438 v -3.51 c -1.218 -0.173 -2.447 -0.262 -3.677 -0.268 c -15.047 0 -27.289 12.244 -27.289 27.291 c 0 9.23 4.613 17.401 11.65 22.342 c -4.712 -5.039 -7.332 -11.681 -7.328 -18.58 C 9.559 47.88 21.453 35.784 36.203 35.438' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: %23ddd; fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 36.847 75.175 c 6.714 0 12.19 -5.341 12.44 -11.997 l 0.023 -59.417 h 10.855 c -0.232 -1.241 -0.349 -2.5 -0.35 -3.762 H 44.989 l -0.025 59.419 c -0.247 6.654 -5.726 11.993 -12.438 11.993 c -2.015 0.001 -4 -0.49 -5.782 -1.431 C 29.079 73.238 32.839 75.171 36.847 75.175 M 80.441 23.93 v -3.302 c -3.989 0.004 -7.893 -1.157 -11.232 -3.339 c 2.928 3.371 6.869 5.701 11.234 6.641' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: %23ddd; fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 69.209 17.286 c -3.272 -3.744 -5.075 -8.549 -5.073 -13.522 h -3.972 C 61.203 9.318 64.472 14.205 69.209 17.286 M 32.526 46.486 c -6.88 0.008 -12.455 5.583 -12.463 12.463 c 0.004 4.632 2.576 8.88 6.679 11.032 c -1.533 -2.114 -2.358 -4.657 -2.358 -7.268 c 0.007 -6.88 5.582 -12.457 12.463 -12.465 c 1.284 0 2.515 0.212 3.677 0.577 V 35.689 c -1.218 -0.173 -2.447 -0.262 -3.677 -0.268 c -0.216 0 -0.429 0.012 -0.643 0.016 v 11.626 C 35.014 46.685 33.774 46.49 32.526 46.486' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: %23ccc; fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 80.441 23.93 v 11.523 c -7.689 0 -14.81 -2.459 -20.627 -6.633 v 30.13 c 0 15.047 -12.24 27.289 -27.287 27.289 c -5.815 0 -11.207 -1.835 -15.639 -4.947 c 5.151 5.555 12.384 8.711 19.959 8.709 c 15.047 0 27.289 -12.242 27.289 -27.287 v -30.13 c 6.009 4.321 13.226 6.642 20.627 6.633 V 24.387 c -1.484 0 -2.927 -0.161 -4.323 -0.46' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: %23ccc; fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 59.813 58.949 v -30.13 c 6.009 4.322 13.226 6.642 20.627 6.633 V 23.93 c -4.364 -0.941 -8.305 -3.272 -11.232 -6.644 c -4.737 -3.081 -8.006 -7.968 -9.045 -13.522 H 49.309 l -0.023 59.417 c -0.249 6.654 -5.726 11.995 -12.44 11.995 c -4.007 -0.004 -7.768 -1.938 -10.102 -5.194 c -4.103 -2.151 -6.676 -6.399 -6.681 -11.032 c 0.008 -6.88 5.583 -12.455 12.463 -12.463 c 1.282 0 2.513 0.21 3.677 0.577 V 35.438 C 21.453 35.784 9.559 47.88 9.559 62.713 c 0 7.173 2.787 13.703 7.328 18.58 c 4.578 3.223 10.041 4.95 15.639 4.945 C 47.574 86.238 59.813 73.996 59.813 58.949' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: %23aaa; fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
				transition: 0.2s ease-out;

				&:focus {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)'%3E%3Cpath d='M 36.203 35.438 v -3.51 c -1.218 -0.173 -2.447 -0.262 -3.677 -0.268 c -15.047 0 -27.289 12.244 -27.289 27.291 c 0 9.23 4.613 17.401 11.65 22.342 c -4.712 -5.039 -7.332 -11.681 -7.328 -18.58 C 9.559 47.88 21.453 35.784 36.203 35.438' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,242,234); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 36.847 75.175 c 6.714 0 12.19 -5.341 12.44 -11.997 l 0.023 -59.417 h 10.855 c -0.232 -1.241 -0.349 -2.5 -0.35 -3.762 H 44.989 l -0.025 59.419 c -0.247 6.654 -5.726 11.993 -12.438 11.993 c -2.015 0.001 -4 -0.49 -5.782 -1.431 C 29.079 73.238 32.839 75.171 36.847 75.175 M 80.441 23.93 v -3.302 c -3.989 0.004 -7.893 -1.157 -11.232 -3.339 c 2.928 3.371 6.869 5.701 11.234 6.641' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,242,234); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 69.209 17.286 c -3.272 -3.744 -5.075 -8.549 -5.073 -13.522 h -3.972 C 61.203 9.318 64.472 14.205 69.209 17.286 M 32.526 46.486 c -6.88 0.008 -12.455 5.583 -12.463 12.463 c 0.004 4.632 2.576 8.88 6.679 11.032 c -1.533 -2.114 -2.358 -4.657 -2.358 -7.268 c 0.007 -6.88 5.582 -12.457 12.463 -12.465 c 1.284 0 2.515 0.212 3.677 0.577 V 35.689 c -1.218 -0.173 -2.447 -0.262 -3.677 -0.268 c -0.216 0 -0.429 0.012 -0.643 0.016 v 11.626 C 35.014 46.685 33.774 46.49 32.526 46.486' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,0,79); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 80.441 23.93 v 11.523 c -7.689 0 -14.81 -2.459 -20.627 -6.633 v 30.13 c 0 15.047 -12.24 27.289 -27.287 27.289 c -5.815 0 -11.207 -1.835 -15.639 -4.947 c 5.151 5.555 12.384 8.711 19.959 8.709 c 15.047 0 27.289 -12.242 27.289 -27.287 v -30.13 c 6.009 4.321 13.226 6.642 20.627 6.633 V 24.387 c -1.484 0 -2.927 -0.161 -4.323 -0.46' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,0,79); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 59.813 58.949 v -30.13 c 6.009 4.322 13.226 6.642 20.627 6.633 V 23.93 c -4.364 -0.941 -8.305 -3.272 -11.232 -6.644 c -4.737 -3.081 -8.006 -7.968 -9.045 -13.522 H 49.309 l -0.023 59.417 c -0.249 6.654 -5.726 11.995 -12.44 11.995 c -4.007 -0.004 -7.768 -1.938 -10.102 -5.194 c -4.103 -2.151 -6.676 -6.399 -6.681 -11.032 c 0.008 -6.88 5.583 -12.455 12.463 -12.463 c 1.282 0 2.513 0.21 3.677 0.577 V 35.438 C 21.453 35.784 9.559 47.88 9.559 62.713 c 0 7.173 2.787 13.703 7.328 18.58 c 4.578 3.223 10.041 4.95 15.639 4.945 C 47.574 86.238 59.813 73.996 59.813 58.949' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
					transition: 0.2s ease-out;
				}
			}
			&--linkedin {
				@extend %icon-form-field;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496.13 496.13' fill='%23aaa'%3E%3Cpath d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'/%3E%3C/svg%3E");
				transition: 0.2s ease-out;

				&:focus {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496.13 496.13' fill='%230274b3'%3E%3Cpath d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'/%3E%3C/svg%3E");
					transition: 0.2s ease-out;
				}
			}
		}

		&::placeholder {
			color: var(--font-light);
		}

		&:focus {
			border-color: var(--accent-color);
			box-shadow: none;
		}
	}
	select.form-control {
		width: 100%;
		-webkit-appearance: none;
		background-image: url('/admin/expand.svg');
		background-repeat: no-repeat;
		background-position: 97%;
		transition: 0.2s ease-out;
		&:focus {
			background-image: url('/admin/expand-active.svg');
			transition: 0.2s ease-out;
		}
	}

	.error_text {
		color: var(--error-color);
		font-weight: 400;
		visibility: hidden;
		opacity: 0;
		scale: 0;
		transition: 0.2s ease-out;
	}
	&.error {
		.form-control {
			border-color: var(--error-stroke);
			background-color: var(--error-bg);
			box-shadow: none;
		}
		.error_text {
			visibility: visible;
			opacity: 1;
			scale: 1;
			transition: 0.2s ease-out;
		}
	}
}

.select2-container {
	display: block !important;
}
.select2-container .select2-selection--single {
	height: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 1.75 !important;
	padding: 0.375rem 0.75rem !important;
	color: var(--font-color) !important;
	background-image: url('/admin/expand.svg');
	background-repeat: no-repeat;
	font-size: 1rem;
	background-position: 97%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border: none !important;
}
.select2-container--default .select2-selection--single {
	background-color: transparent !important;
	border: 1px solid var(--table-border) !important;
}

.select2-container--default.select2-container--open .select2-selection--single {
	border: 1px solid var(--accent-color) !important;
}

.input-group {
	display: flex;
	flex-wrap: nowrap;

	.group-btn {
		border: 1px solid var(--table-border);
		background-color: var(--c-lvl-1);
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}
}

input[type='checkbox'] {
	accent-color: var(--accent-color);
	appearance: none;
}

.check {
	&--label {
		display: flex;
		align-items: center;
		gap: 0.2em;
		margin-bottom: 0;
	}
	&--mark {
		border-radius: 0.25rem;
		display: block;
		content: '';
		border: 1px solid var(--table-border);
		width: 1rem;
		aspect-ratio: 1;
		transition: 0.2s ease-out;
	}
	&--control:checked {
		& + .check--mark {
			background-color: var(--accent-color);
			border-color: var(--accent-color);
			transition: 0.2s ease-out;
		}
	}
}
.form-group {
	.check {
		&--wrapper {
			display: flex;
			gap: 1em;
		}
		&--label {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 0.5em;
			margin-bottom: 0;
			position: relative;
		}
		&--mark {
			border-radius: 0.15rem;
			display: block;
			content: '';
			border: 1px solid var(--table-border);
			width: 1.15rem;
			aspect-ratio: 1;
			transition: 0.2s ease-out;
			position: relative;
			&:after {
				content: '\e876';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@extend %icon;
				color: white;
				font-size: 1.15em;
				font-weight: 300;
				opacity: transparent;
				opacity: 0;
			}
		}
		&--control {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
		}
		&--control:checked {
			& + .check--mark {
				background-color: var(--accent-color);
				border-color: var(--accent-color);
				transition: 0.2s ease-out;
				&:after {
					opacity: 1;
				}
			}
		}
	}
}

.end-action-group {
	display: flex;
	gap: 1em;
	justify-content: flex-end;
	align-items: center;
	padding-top: 1em;
}

#confirmationModal {
	.modal-header,
	.modal-footer {
		border-color: transparent;
	}
	.modal-content {
		border-radius: var(--main-border-radius);
		border-color: var(--table-border);
		box-shadow: 0 0 5em 0 rgba(5, 27, 70, 0.199);
	}
	.modal-header {
		padding-block-end: 0;
	}
}
.modal-backdrop {
	background-color: #ffffff22;
	backdrop-filter: blur(4px);
}
.modal-backdrop.show {
	opacity: 1;
}

html {
	transform: translateZ(1);
}

.btn-close {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 1rem;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none !important;
	outline: none !important;
	background-color: transparent;
	cursor: pointer;

	&:after {
		content: '\e5cd';
		@extend %icon;
		font-size: fontSize(25);
		line-height: 1;
	}
}
.header--wrapper {
	display: flex;
	align-items: center;
	gap: 1em;
}
.circle--wrapper {
	width: 2.5rem;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	user-select: none;

	.material-symbols-rounded {
		font-size: fontSize(18);
		font-weight: 600;
	}
	&.success {
		color: var(--success-color);
		background-color: var(--success-bg);
	}
	&.error {
		color: var(--error-color);
		background-color: var(--error-bg);
	}
}

.button--wrapper {
	display: flex;
	align-items: center;
	gap: 0.75em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	cursor: default;
	color: white !important;
	border: 1px solid transparent;
	background: var(--c-lvl-3);
	box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	border-radius: var(--main-border-radius);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	background: transparent;
	cursor: default;
	border-color: transparent;
	&:active {
		background: transparent;
		cursor: default;
		border-color: transparent;
		box-shadow: none;
	}
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: transparent;
	cursor: default;
	border-color: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	background: var(--c-lvl-1);
	color: var(--font-color);
	cursor: pointer;

	&:hover {
		background: var(--c-lvl-2);
		cursor: pointer;
		color: var(--font-color);
	}
}

.dataTables_wrapper {
	&:after {
		content: unset;
	}
}

.toast--box {
	position: fixed;
	top: calc(var(--top-bar-height) + 1rem);
	right: 2rem;
	border-radius: var(--main-border-radius);
	padding: 1em 1.5em 1em 1em;
	display: flex;
	gap: 1em;
	max-width: 450px;
	z-index: 999;
	user-select: none;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transform: translateX(-10%);
	transition: 0.2s ease-out;
	&[data-toast-mode='success'] {
		background-color: var(--success-bg);
		.circle--wrapper {
			&.success {
				background-color: var(--success-bg-dark);
				color: var(--success-color);
			}
		}
	}
	&[data-toast-mode='error'] {
		background-color: var(--error-bg);
		.circle--wrapper {
			&.error {
				background-color: var(--error-bg-dark);
				color: var(--error-color);
			}
		}
	}
	.toast--dismiss {
		position: absolute;
		right: 1em;
		top: 0.25em;
	}
	.toast--title {
		font-size: fontSize(18);
		font-weight: 500;
	}
	.toast--description {
		font-size: fontSize(14);
	}
	&.show {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
		transition: 0.2s ease-out;
	}
}

.check--group {
	.form-group {
		margin-block-end: 0.25em;

		&[data-check-main] {
			border-bottom: 1px solid var(--table-border);
			padding-bottom: 0.5em;
			label {
				font-weight: 600;
			}
		}
	}
}
